.stepnumber {
    float: none;
    margin: 0 auto 10px;
    width: 60px;
    height: 60px;
    border: 1px solid #4a82db;
    background: none;
    color: #4a82db;
    font-weight: 400;
    font-size: 24px;
    line-height: 60px;
    border-radius: 50%;
}
.stepcard{
    text-transform: uppercase;
}

.steplist{
    width: 100%;
}

.switcher{
    margin-left: auto;
    margin-right: auto;
    width: 353px;
    
}
