@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    font-family: 'Montserrat', sans-serif;

}

/* Category Ads */
.productCard
 {
    height: 350px;
    width: 275px;
   
}
.productCard .card-img-top {
    height: 180px;
    width: 100%;
    object-fit: cover;
}
.productCard .card-notify-wishList {
        position: absolute;
        left: -10px;
        top: -20px;
         margin-top: 10px;
        background: #4a82db;
        border-radius: 50%;
        text-align: center;
        color: #fff;      
        font-size: 14px;      
        width: 50px;
        height: 50px;    
        padding: 15px 0 0 0;

    }
  .productCard  .card-notify-wishList:hover{
    box-shadow: 10px 10px 20px 0px rgba(46,61,73,0.15);
    border-radius: 2px;
    transition: all 0.3s ease;
}

 .productCard .card-notify-addToCart {
        position: absolute;
        right: -10px;
        top: -20px;
         margin-top: 10px;
        background: #4a82db;
        border-radius: 50%;
        text-align: center;
        color: #fff;      
        font-size: 14px;      
        width: 50px;
        height: 50px;    
        padding: 15px 0 0 0;
}
.productCard .card-notify-addToCart:hover{
    box-shadow: 10px 10px 20px 0px rgba(46,61,73,0.15);
    border-radius: 2px;
    transition: all 0.3s ease;
}


.productCard .card-detail-badge { 
        margin-top: 10px;
        background: #4a82db;
        text-align: center;
        margin-left: 5px;
        border-radius: 0;
        color: #fff;
        padding: 5px 10px;
        font-size: 16px;        
    }

   

.productCard .card:hover {
            background: #fff;
            box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
            border-radius: 4px;
            transition: all 0.3s ease;
        }

 .productCard .card-image-overlay {
        font-size: 20px;
        
    }


 .productCard .card-image-overlay span {
            display: inline-block;              
        }


 .productCard .ad-btn {
        text-transform: uppercase;
        width: 150px;
        height: 40px;
        border-radius: 80px;
        font-size: 16px;
        line-height: 35px;
        text-align: center;
        border: 3px solid #e6de08;
        display: block;
        text-decoration: none;
        margin: 20px auto 1px auto;
        color: #000;
        overflow: hidden;        
        position: relative;
        background-color: #e6de08;
    }

 .productCard .ad-btn:hover {
            text-decoration: none;
            background-color: #d9d9d9;
            color: #1e1717;
            border: 2px solid #d9d9d9;
            transition: all 0.3s ease;
            box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
        }

 .productCard .ad-title h5 {
        text-transform: uppercase;
        font-size: 18px;
    }

/*@media only screen and (max-width:990px){.product-card{margin-bottom:30px}*/
/*.product-grid3 .rating{margin:-22px 0 0}*/
/*}*/
/*@media only screen and (max-width:359px){.product-card .rating{margin:0}*/
/*}*/
